<div class="container-fluid "  >
  <div class="d-flex py-2">
      <div class="col-xl-12 col-md-12 col-lg-12 py-5">
          <div class="row py-5">
                  <div class="col-lg-6 py-5" >
                      <div class="py-4  text-center">
                      <div>
                        <div >
                          <h1 data-aos="fade-down">Make Your Own Todo List </h1>
                          <h2 data-aos="fade-down">To be greatful </h2>
                              <h3 data-aos="fade-down">Join Us </h3>
                              <button (click)="getCurrentLocation()">GetLocation</button>
                              <div class="py-4 d-flex  justify-content-center">
                                  <div class="mx-4">
                                  <button data-aos="fade-right" routerLink="login" class="btn btn-outline-primary">Sign In</button>
                                  </div>
                                 <div > <button  data-aos="fade-left" routerLink="signup" class="btn btn-outline-info">Sign Up</button>
                                </div>
                              </div>
                        </div>
                      </div>
                  </div>
              </div>
                  <div data-aos="zoom-out" class="col-lg-6 d-lg-block d-none text-center ">
                          <img src="../../../assets/todoimage.png"   class="rounded img-thumbnail shadow-sm" width="400px" height="500px"  alt="">
                  </div>
          </div>
      </div>
  </div>
</div>
